html,body {
    height: 100vh;
    font-size: 16px;
}

form {
    text-align:right;
    padding: 0 2vw;
    height: 8vh;
}

svg#map {
    display: inline-block;
    height: 90vh;
}

svg g#map-cities path {
  fill: none;
  stroke-width: 2px;
  stroke: black;
  stroke-opacity: .3;
}

header {
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 10vw;
    height: 3vh;
    color: black;
    text-align: center;
    font-size: 3rem;
}

.container-full {
  margin: 0 auto;
  width: 100vw;
}

.navbar .container {
  margin-right: 1vw;
  margin-left: 1vw;
  width: 10vw;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
}

#marker-prototype {
  display: none;
}

.popup {
  display: none;
  position: absolute;
  left: 50px;
  bottom: -40px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 10px;
  width: 150px;
  z-index: 99;
}

.popup h2 {
  margin-top: 0;
  font-size: 90%;
}

.popup img {
  float: left; 
  margin-right: 30px; 
  margin-bottom: 15px;
  width: 100%;
  height: auto;
}

.marker:hover {
  cursor: pointer;
}

.marker:hover + .popup {
  display: inline-block;
}

.full-view {
  display: none; 
  width: 700px;
}

.full-view h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.full-view img {
  width: 400px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.full-view ul li {
  font-size: 150%;
  display: block;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 10px;
}

.full-view ul li span {
  padding-right: 20px;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  overflow-text: ellipsis;
}

.full-view p {
  width: 270px;
  float: right;
}

.full-view p span {
  font-size: 75%;
  color: gray;
}
