html,body {
    height: 100vh;
    font-size: 16px;
}

form {
    text-align:right;
    padding: 0 2vw;
    height: 8vh;
}

svg#map {
    display: inline-block;
    height: 90vh;
}

svg g#map-cities path {
  fill: none;
  stroke-width: 2px;
  stroke: black;
  stroke-opacity: .3;
}

header {
    position: fixed;
    top: 1vh;
    left: 1vw;
    width: 10vw;
    height: 3vh;
    color: black;
    text-align: center;
    font-size: 3rem;
}

.container-full {
  margin: 0 auto;
  width: 100vw;
}

.navbar .container {
  margin-right: 1vw;
  margin-left: 1vw;
  width: 10vw;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
}

#marker-prototype {
  display: none;
}
