html,body {
    height: 100%;
}

form {
    text-align:right;
    padding: 0 2em;
    height: 8%;
}

svg#map {
    display: inline-block;
    width: 70%;
    height: 50%;
    margin-left: 15%;
}

header {
    position: fixed;
    left: 1%;
    top: 1%;
    width: 10%;
    height: 3%;
    color: black;
    text-align: center;
    font-size: 3rem;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar .container {
  margin-right: 1em;
  margin-left: 1em;
  width: 10%;
}

.marker {
  position: absolute;
  top: 0;
  left: 0;
}
